{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-end">
        <a href="{{ path('simulation_index') }}" class="btn btn-secondary me-2">back to list</a>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
